.rccs__card {

  width: 295px !important;
  height: 172px !important;

  border-radius: 10px !important;
}

@media only screen and (min-width: 720px) {
  .rccs__card {
    width: 364px !important;
    height: 233px !important;
  }
}

.rccs__card--front {
  border-radius: 10px !important;
}

